Flask
Flask-Dance[google]
Flask-Login
Flask-SQLAlchemy
Flask-WTF
WTForms
requests
gunicorn
python-dotenv
psycopg2-binary
Werkzeug
oauthlib
itsdangerous
Jinja2
click
SQLAlchemy
email-validator
pytest
pytest-flask
pytz